/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('../src/assets/font/MuseoSansCyrl-500.eot');
  src: local('MuseoSansCyrl-500'), url('../src/assets/font/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), url('../src/assets/font/MuseoSansCyrl-500.woff') format('woff'), url('../src/assets/font/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('../src/assets/font/MuseoSansCyrl-300Italic.eot');
  src: local('MuseoSansCyrl-300Italic'), url('../src/assets/font/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'), url('../src/assets/font/MuseoSansCyrl-300Italic.woff') format('woff'), url('../src/assets/font/MuseoSansCyrl-300Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('../src/assets/font/MuseoSansCyrl-500Italic.eot');
  src: local('MuseoSansCyrl-500Italic'), url('../src/assets/font/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'), url('../src/assets/font/MuseoSansCyrl-500Italic.woff') format('woff'), url('../src/assets/font/MuseoSansCyrl-500Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url('../src/assets/font/MuseoSansCyrl-900.eot');
  src: local('MuseoSansCyrl-900'), url('../src/assets/font/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), url('../src/assets/font/MuseoSansCyrl-900.woff') format('woff'), url('../src/assets/font/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('../src/assets/font/MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'), url('../src/assets/font/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), url('../src/assets/font/MuseoSansCyrl-700.woff') format('woff'), url('../src/assets/font/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('../src/assets/font/MuseoSansCyrl-700Italic.eot');
  src: local('MuseoSansCyrl-700Italic'), url('../src/assets/font/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'), url('../src/assets/font/MuseoSansCyrl-700Italic.woff') format('woff'), url('../src/assets/font/MuseoSansCyrl-700Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('../src/assets/font/MuseoSansCyrl-300.eot');
  src: local('MuseoSansCyrl-300'), url('../src/assets/font/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../src/assets/font/MuseoSansCyrl-300.woff') format('woff'), url('../src/assets/font/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url('../src/assets/font/MuseoSansCyrl-100.eot');
  src: local('MuseoSansCyrl-100'), url('../src/assets/font/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), url('../src/assets/font/MuseoSansCyrl-100.woff') format('woff'), url('../src/assets/font/MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url('../src/assets/font/MuseoSansCyrl-100Italic.eot');
  src: local('MuseoSansCyrl-100Italic'), url('../src/assets/font/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'), url('../src/assets/font/MuseoSansCyrl-100Italic.woff') format('woff'), url('../src/assets/font/MuseoSansCyrl-100Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url('../src/assets/font/MuseoSansCyrl-900Italic.eot');
  src: local('Museo Sans Cyrl 900 Italic'), local('MuseoSansCyrl-900Italic'), url('../src/assets/font/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'), url('../src/assets/font/MuseoSansCyrl-900Italic.woff') format('woff'), url('../src/assets/font/MuseoSansCyrl-900Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: 'Museo Sans Cyrl 100';
}
/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}
/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}
/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}
/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}
/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}
/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}
/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}
html {
  font-family: 'Museo Sans Cyrl 100';
}
body {
  background-image: url("../src/app/image/bg3.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
/*# sourceMappingURL=styles.css.map */